@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html{
	scroll-behavior: smooth;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: black;
}

header{
	position: absolute;
	width: 100%;
	height: 5rem;
	top: 0;
	left: 0;
	background: #252423;
	color: white;
	padding:  0 2rem;
	position: fixed;
	z-index:10;
}

nav{
	width: 100%;
	height: 100%	;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text{
	color: white;
	transition: all 0.25s;
	letter-spacing: 1px;

}
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	width: 900px;
}

.menu li a{
	text-decoration: none;
}

.text:hover{
	
  text-align : center;
  padding : 1em;
  border : 0em solid white;
  background: white;
  width  : 4em;
  height : 4em;
  border-radius: 20px;
  color: black;

}

body{
	background-color: black;
	overflow: visible;	}

.slider{
	position: absolute ;
	top: 5rem;
	width: 100%;
	height: 89%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-position: center;
	animation:animate 25s ease-in-out infinite ;
	background-size: cover;
}

.sg{
	position: absolute;
}
a{
	text-decoration: none;
}
@keyframes animate{
	0%, 100% {
		background-image: url(img-2/minecraft.jfif);

	}
	33% {
		background-image: url(img-2/dragonball.png);
	}
	66% {
		background-image: url(img-2/sonic.jfif);
	}
	
}

h2{
	color: white;
  	padding : 1em;
  	border : 0.155em solid white;
  	width  : em;
  	height : em;
  	top: 300px;
  	left: 100px;
  	position: absolute;
  	transition: all 0.2s;
}
h2:hover{
	border-radius: 20px;
}

h1{
	position: absolute;
	color: white;
	left: 5.4em;
	top: 1.2em;
}	

figure span::before{
	content: "Minecraft";
	animation: text 25s ease-in-out infinite;
}

@keyframes text{
	0%{
		content: "Minecraft";
	}
	33%{
		content: "Dragon Ball";
	}
	66%{
		content: "Sonic";
	}
}

footer{
	position: absolute;
	background-color: black;
	width: 100%;
	color: white;
	top: 800px;
}